body{
    background-color:#673C4F;
    color: white;
}
.wrapper{
    margin: 5px;
}

.navbar{
    height: 100%;
    z-index: 99;
}

.alert{
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    background-color: #538083;
    color: white
}

.jumbotron-fluid{
    background-color: #538083;
    background-image: url(https://images.unsplash.com/photo-1501630834273-4b5604d2ee31?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8Y2xvdWRzfGVufDB8fDB8&auto=format&fit=crop&w=500&q=60);
    background-repeat: no-repeat;
    background-size: cover;
    color: #222E50;
    font-weight: bolder;

}

.card{
    color: black
}